.verticalviewer-container {
  width: 100%;
  height: 100%;
  position: relative;
  .verticalviewer-preview-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 36px;
    border-radius: 0 4px 4px 0;
    transition: width 0.5s ease, opacity 0.3s ease;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
    &.show {
      width: 100%;
      opacity: 1 !important;
      .verticalviewer-preview-fold-main {
        left: 0 !important;
      }
    }
    z-index: 6;
    height: 72px;
    background-color: var(--color-black1);
    padding: 6px 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    .verticalviewer-preview-main {
      height: 100%;
      width: calc(100% - 44px);
      overflow-x: scroll;
      display: inline-block;
      margin-left: 8px;
      .verticalviewer-preview-item-container {
        height: 100%;
        display: flex;
        align-items: center;
        // min-width: 1400px;
        width: max-content;
      }
    }
    .verticalviewer-preview-fold-container {
      height: 100%;
      width: 36px;
      display: inline-block;
      background-color: var(--color-black1);
      overflow: hidden;
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
      .verticalviewer-preview-fold-main {
        display: flex;
        align-items: center;
        width: 72px;
        min-width: 72px;
        height: 100%;
        position: absolute;
        top: 0;
        left: -36px;
        transition: left 0.5s ease;
        .verticalviewer-preview-fold {
          height: 100%;
          width: 36px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  .verticalviewer-main {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    .verticalviewer-scroll {
      height: 100%;
      white-space: nowrap;
      .verticalviewer-item {
        display: inline-block;
        height: 100%;
        margin-right: 4px;
        position: relative;
        overflow: hidden;
        &:nth-last-of-type(1) {
          margin-right: 0;
        }
        &.active {
          .verticalviewer-item-pic {
            transform: scale(0.95);
          }
          .verticalviewer-item-select {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
          }
        }
        &:hover {
          .verticalviewer-item-info {
            bottom: 0;
            opacity: 1;
          }
        }
        .verticalviewer-item-select {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%) scale(0.5);
          opacity: 0;
          z-index: 4;
          transition: all 0.3s ease;
        }
        .verticalviewer-item-pic {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          transform: scale(1);
          transition: transform 0.3s ease;
        }
        .verticalviewer-item-info {
          position: absolute;
          left: 0;
          bottom: -30px;
          z-index: 5;
          width: 100%;
          height: 64px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          opacity: 0;
          background: linear-gradient(to top, var(--color-black6), transparent);
          transition: all 0.3s ease;
          .verticalviewer-item-info-item {
            display: flex;
            align-items: center;
            width: calc(100% - 50px);
            color: var(--color-white2);
            .item {
              margin-left: 12px;
            }
            &.padding {
              padding-left: 12px;
            }
          }
          .verticalviewer-item-detail {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 50px;
            bottom: 8px;
          }
          .verticalviewer-item-zoom {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 12px;
            bottom: 9px;
          }
        }
      }
    }
  }
}
