.app-container {
  width: 100%;
  height: 100%;
  background-color: var(--color-black13);
  position: relative;
  overflow: hidden;
  .app-main {
    height: 100%;
    width: 100%;
    padding-top: var(--header-container-height);
    display: flex;
    align-items: center;
  }
}
