.folder-container {
  position: relative;
  width: 240px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(0.8);
  &.allowhover {
    .file {
      cursor: pointer;
    }
    &:hover {
      .work-4 {
        transform: rotateX(-20deg) !important;
      }
      .work-3 {
        transform: rotateX(-30deg) !important;
      }
      .work-2 {
        transform: rotateX(-38deg) !important;
      }
      .work-1 {
        transform: rotateX(-46deg) translateY(1px) !important;
      }
    }
  }

  .file {
    position: relative;
    width: 15rem;
    height: 10rem;
    perspective: 1500px;
    z-index: 50;
    transform-origin: bottom;

    .work-5 {
      position: relative;
      width: 100%;
      height: 100%;
      background-color: #d97706; // amber-600
      border-radius: 1rem;
      border-top-left-radius: 0;
      transition: all 0.3s ease;
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
      transform-origin: top;

      &:after {
        content: "";
        position: absolute;
        bottom: calc(100% - 2px);
        left: 0;
        width: 5rem;
        height: 1rem;
        background-color: #d97706; // amber-600
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
      }

      &:before {
        content: "";
        position: absolute;
        top: -15px;
        left: 75.5px;
        width: 1rem;
        height: 1rem;
        background-color: #d97706; // amber-600
        clip-path: polygon(0 35%, 0% 100%, 50% 100%);
      }
    }

    .work-4,
    .work-3,
    .work-2,
    .work-1 {
      position: absolute;
      inset: 4px;
      border-radius: 1rem;
      transition: all 0.3s ease;
      transform-origin: bottom;
    }

    .work-4 {
      background-color: #094ecd; // zinc-400
      transform: rotateX(0deg);
    }

    .work-3 {
      background-color: #33c0e0; // zinc-300
      transform: rotateX(0deg);
    }

    .work-2 {
      background-color: #66d0e8; // zinc-200
      transform: rotateX(0deg);
    }

    .work-1 {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 9.75rem;
      background: linear-gradient(to top, #fbbf24, #fbbf24); // amber gradient
      border-radius: 1rem;
      border-top-right-radius: 0;
      display: flex;
      align-items: flex-end;
      box-shadow: inset 0 20px 40px #fbbf24, inset 0 -20px 40px #d97706;
      transform: rotateX(0deg);
      .folder-name {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-white2);
        font-size: 22px;
        user-select: none;
        font-weight: 600;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: calc(100% - 2px);
        right: 0;
        width: 9.125rem;
        height: 1rem;
        background-color: #fbbf24; // amber-400
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
      }

      &:before {
        content: "";
        position: absolute;
        top: -10px;
        right: 8.875rem;
        width: 0.75rem;
        height: 0.75rem;
        background-color: #fbbf24; // amber-400
        clip-path: polygon(100% 14%, 50% 100%, 100% 100%);
      }
    }
  }
}
