.sortitemfolderdialog-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: var(--sortfolderdialog-container-index);
  background-color: var(--color-black5);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  &.show {
    visibility: visible;
    opacity: 1;
    .sortitemfolderdialog-main {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  .sortitemfolderdialog-main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    transition: all 0.3s ease;
    width: 840px;
    padding: 14px 28px 24px 28px;
    border-radius: 8px;
    background-color: var(--color-black6);
    box-shadow: 0 0 8px 4px rgba($color: #000000, $alpha: 0.2);
    .sortitemfolderdialog-title {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color-white6);
      font-size: 18px;
      margin-bottom: 18px;
    }
    .sortitemfolderdialog-form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 12px 30px;
      .sortitemfolderdialog-form-item {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 276px;
        background-color: var(--color-white3);
        padding: 12px;
        padding-top: 8px;
        border-radius: 4px 8px 8px 4px;
        border-left: 4px solid var(--color-blue2);
        position: relative;
        &.loading {
          .sortitemfolderdialog-form-item-info {
            opacity: 0;
            transform: translateX(-12px);
          }
          .sortitemfolderdialog-form-item-load {
            opacity: 1;
            transform: scale(1);
          }
        }
        .sortitemfolderdialog-form-item-folder {
          position: absolute;
          left: -56px;
          top: -32px;
          z-index: var(--mainfolderdialog-form-item-folder-index);
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .sortitemfolderdialog-form-item-null {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--color-white6);
          font-size: 24px;
        }
        .sortitemfolderdialog-form-item-load {
          opacity: 0;
          transform: scale(0.5);
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.5s ease;
          position: absolute;
          left: 0;
          top: 0;
          span {
            color: var(--color-white6);
            font-size: 24px;
            margin-left: 8px;
          }
        }
        .sortitemfolderdialog-form-item-info {
          transform: translateX(0);
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          color: var(--color-white2);
          transition: all 0.5s ease;
          .sortitemfolderdialog-form-item-info-row {
            min-width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 8px;
            &.half {
              padding-left: 160px;
              .sortitemfolderdialog-form-item-info-item {
                width: 100%;
              }
            }
            .sortitemfolderdialog-form-item-info-item {
              width: calc(50% - 6px);
              &.full {
                width: 100%;
              }
              &.half {
                width: calc(50% - 6px) !important;
              }
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 4px 8px;
              border-bottom: 2px solid var(--color-white4);
              .sortitemfolderdialog-form-item-info-overflow {
                max-width: 72%;
              }
            }
          }
        }
      }
    }
  }
}
